.account-modal {
    position: absolute;
    top: 100%;
    right: 0;
    width: rem(224px);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.7em;

    .headline {
        text-transform: uppercase;
        font-size: 11px;
        line-height: 16px;
        font-weight: 700;
        color: #626f86;
        padding: rem(16px) rem(20px);
    }

    .user-details {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: repeat(2, auto);
        margin-block-end: rem(16px);
        padding: rem(10px) rem(16px);

        .avatar {
            grid-column: 1;
            grid-row: 1/-1;
            align-self: center;
            justify-self: start;
            display: flex;
            justify-content: center;
            align-items: center;
            height: rem(40px);
            width: rem(40px);
            border-radius: 50%;
            background-color: $user-bg;
            font-size: rem(18px);
        }

        h6 {
            margin: 0;
            padding: 0;
            grid-column: 2;
            align-self: end;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                "Open Sans", "Helvetica Neue", sans-serif;
            font-size: rem(14px);
            font-weight: 500;
            color: #44546f;
        }

        p {
            margin: 0;
            padding: 0;
            grid-column: 2;
            align-self: end;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                "Open Sans", "Helvetica Neue", sans-serif;
            font-weight: 500;
            font-size: rem(12px);
            color: #44546f;
        }
    }
    .switch {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
            "Open Sans", "Helvetica Neue", sans-serif;
        font-weight: 500;
        font-size: rem(14px);
        display: flex;
        align-items: center;

        h4 {
            padding: rem(10px) rem(20px) ;
        }

        &:hover {
            background-color: rgba(211, 211, 211, 0.192);
        }
    }
}
