.add-task {
    display: flex;
    flex-direction: column;
    padding: 0;

    > form {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    > form > .input-wrapper {
        width: 256px;
        box-sizing: border-box;

        > textarea:focus {
            outline: none;
            border: none;
        }

        > textarea {
            box-sizing: border-box;
            width: 100%;
            margin-bottom: 7px;
            padding: 8px 8px 4px 12px;
            background: none;
            border: none;
            box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
            background-color: $task-bg-clr;
            cursor: text;
            height: 70px;
            border-radius: 12px;
            font-size: 12px; 
            word-spacing: -1px; 
            resize: vertical; 
            overflow: auto;

            border-bottom: 16px solid transparent;
            border-right: 16px solid transparent;
        }

        > textarea::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 8px;
            height: 8px;
            background: white;
            font-family: sans-serif;
        }
    }

    .form-btn {
        display: flex;
        justify-content: start;
        > .add-btn {
            @include add-group-btn
        }

        > .icon {
            @include trello-icon($content: "\e91c", $type: lg, $color: #626F86);
          }
    }
}
