.add-modal {
    @include modal;
    padding-inline: rem(12px);

    .close-icon {
        @include trello-icon($content: $icon-close, $type: sm, $color: #182b4d);
    }

    .title {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
        font-weight: 600;
    }

    .background-title {
        margin-block-end: 0.3em;
        font-weight: 900;
        font-size: rem(13px);
        color: $lclr1;
    }

    .board-layout {
        display: flex;
        justify-content: center;
        align-items: center;
        height: rem(120px);
        width: rem(200px);
        margin: auto;
        border-radius: rem(3px);
        margin-block-end: rem(16px);
    }

    .add-board-input {
        span {
            color: rgb(146, 0, 0);
        }
        margin: 0;
        h2 {
            @include mini-title;
            margin-block-start: 1em;
            margin-block-end: 0.3em;
        }
        p {
            font-size: rem(12px);
            font-weight: 200;
            color: $lclr1;
            margin-block-start: 0.5em;
        }

        form {
            input {
                width: 100%;
                color: #182b4d;
            }
        }

        .save-btn {
            display: flex;
            justify-content: center;
            color: #adb4c0;
            background-color: #f7f8f9;
            border-radius: 0.2em;
            font-weight: 500;
            font-size: rem(12px);
            padding: 0.5em;
            margin-block-start: rem(15px);
            cursor: pointer;
        }
        .check {
            background-color: #1266e4;
            color: white;
        }
    }
}
