.add-group {
    padding: 0;

    > form {
        display: flex;
        align-items: flex-start;

        > div > .form-btn {
            color: $list-text-color;
            margin: 0;
            padding: 4px 12px;

            &.add-btn {
            @include add-group-btn
            }
        }

        > input {
            width: 100%;
            background-color: $group-background-input;
            border: none;
            padding: 8px 12px;
            box-shadow: $border-focused 0px 0px 0px 2px inset;
            margin-bottom: 0.572em;
            &::placeholder {
                color: $list-text-color;
            }
        }
    }
}
