.add-task {
    display: flex;
    flex-direction: column;
    padding: 0;

    > form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    > form > .input-wrapper {
        width: 256px;
        box-sizing: border-box;

        > textarea:focus {
            outline: none;
            border: none;
        }

        > textarea {
            box-sizing: border-box;
            width: 250px;
            padding: 8px 8px 4px 12px;
            background: none;
            border: none;
            box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
            background-color: $task-bg-clr;
            cursor: text;
            height: 70px;
            border-radius: 12px;
            font-size: 12px;
            word-spacing: -1px;
            resize: vertical;
            overflow: auto;
            border-bottom: 16px solid transparent;
            border-right: 16px solid transparent;
            font-size: 1em;
        }

        > textarea::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 8px;
            height: 8px;
            background: white;
        }
    }

    .form-btn {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 0.2em;
        padding: 0 12px;
        > .add-btn {
            align-self: center;
            @include add-group-btn;
            padding: 6px 12px;
        }

        button > .icon.close {
            vertical-align: middle;
            @include trello-icon($content: "\e91c", $type: lg, $color: #626f86);
        }
    }
}
