.app-header {
    z-index: 10;
    max-height: 48px;
    z-index: 999;
    nav {
        display: flex;
        justify-content: space-between;
        padding: rem(7px);
        position: relative;
        background-color: #ffffff;
        color: $textClr;
        border-bottom: 0.5px solid rgba(128, 128, 128, 0.466);

        &.header-changed {
            background-color: hsl(208, 34.3%, 21.9%);
        }

        &.header-changed * {
            color: #ffffff;
        }

        &.header-changed .header-btn {
            color: #ffffff !important;
        }

        .left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: rem(8px);

            .recent {
                display: flex;
                justify-content: center;
                align-items: center;
                @include header-btn;
            }
            .starred {
                @include header-btn;
            }

            .logo {
                display: flex;
                justify-content: center;
                align-items: baseline;
                font-size: rem(13px);
                border-radius: 0.3em;
                transition: 0.5s;
                height: 100%;
                padding: 0.5em;

                &:hover {
                    background-color: darken(white, 8%);
                }

                h2 {
                    font-size: 1.6em;
                }

                & :nth-child(1) {
                    font-size: em(23px, 16px);
                    font-weight: 900;
                    padding: 0 0.3em;
                }
            }
        }
        .create-btn {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $lclr2;
            color: white;
            padding: 0.4em 1em;
            border-radius: 0.2em;
            width: rem(68px);

            .clicked {
                background-color: red;
            }

            button {
                color: white;
            }

            &:hover {
                background-color: darken($lclr2, 8%);
            }
        }
    }
    .middle {
        display: none;
    }

    .right {
        position: relative;
        display: flex;
        align-items: center;
        gap: rem(15px);

        .filter-container {
            position: relative;
            width: max-content;

            .search-icon {
                position: absolute;
                left: 4.5%;
                top: 50%;
                transform: translateY(-40.5%);

                .search-icon-img {
                    height: 13px;
                }
            }
        }
        .mobile-search-icon {
            display: none;
        }
        .notifiction-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: max-content;
            rotate: (50deg);
            height: rem(22px);
            width: 22px;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.2s;

            &.clicked-not {
                background-color: #3a4b63;
            }

            & :nth-child(1) {
                font-size: 14px;
                margin-block-end: 0.1em;
                margin-inline-end: 0.09em;
            }

            .notifiction-dot {
                display: flex;
                justify-content: center;
                align-items: center;
                top: -6px;
                right: 4px;
                width: 13px;
                position: absolute;
                height: 13px;
                background-color: #ca3521;
                border-radius: 50%;
                color: white;

                p {
                    rotate: (-50deg);
                    font-size: 0.8em;
                    margin-block-end: 0.1em;
                    margin-inline-end: 0.1em;
                }
            }
        }

        .mode {
            height: rem(18px);
            margin-block-start: 0.15em;
        }
        .user {
            display: flex;
            align-items: center;
            justify-content: center;
            height: rem(22px);
            width: rem(22px);
            background-color: rgb(240, 172, 0);
            border-radius: 50%;
            padding: 0.8em;
            font-size: 0.7em;
            font-weight: 700;

            &.user-changed {
                color: hsl(208, 34.3%, 21.9%);
            }

            h2 {
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .app-header {
        margin-bottom: 1.4em;

        .add-board-container {
            position: absolute;
            left: 20%;
            top: 6%;
            transform: translateX(-50%);
            z-index: 999;
        }

        nav {
            padding: 0;
            position: fixed;
            width: 100%;
            height: 48px;
            padding: 8px 16.5px;
            border-bottom: none;

            .left {
                .recent {
                    display: none;
                }
                .starred {
                    display: none;
                }
                .logo {
                    padding: 0;
                    margin-inline-start: 0;
                    & :nth-child(1) {
                        padding-inline-start: 0;
                        font-size: 18px;
                    }
                    & :nth-child(2) {
                        font-size: 18px;
                    }
                }
                .create-btn {
                    display: none;
                }
            }
        }

        .middle {
            display: flex;
            align-items: center;
            margin-inline-start: 5em;
            gap: 1.8em;

            .more {
                display: flex;
                align-items: center;
                gap: 0.3em;
                p {
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu",
                        "Droid Sans", "Helvetica Neue", sans-serif;
                    font-weight: 500;
                }
            }
            .plus-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                width: 30px;
                background-color: rgba(0, 0, 0, 0.137);

                .plus-icon {
                    @include trello-icon($content: $icon-plus, $type: sm, $color: $textClr);
                    font-size: 1.3em;
                }
            }
        }
    }
    .right {
        display: flex;
        align-items: baseline;
        .filter-container {
            display: none;
        }

        .mode {
            display: none;
        }
        .mobile-search-icon {
            height: 20px;
        }
    }
}
