.index-layout {
  display: grid;
  grid-template-columns: 1fr 1150px 1fr;

  .board-container {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .starred-container {
      .starred {
        margin-block-start: rem(18px);

        .starred-title {
          margin-block-end: rem(13px);
          display: flex;
          align-items: center;
          gap: rem(8px);

          .starred-icon {
            @include trello-icon($content: $icon-star, $type: lg);
          }

          h2 {
            font-size: rem(17px);
          }
        }
      }
    }

    .recent-container {
      .recent {
        margin-block-start: rem(55px);

        .recent-title {
          margin-block-end: rem(13px);
          display: flex;
          align-items: center;
          gap: rem(8px);

          .recent-icon {
            @include trello-icon($content: $icon-clock, $type: lg);
          }

          h2 {
            font-size: rem(17px);
          }
        }
      }
    }

    .workspace {
      .workspace-title {
        margin-block-start: rem(55px);
        margin-block-end: rem(12px);

        .sub-workspace {
          display: flex;
          align-items: center;
          gap: rem(6px);

          .user-title {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 1.5em;
            font-weight: 600;
            height: rem(32px);
            width: rem(32px);
            border-radius: 0.2em;
            background: rgb(103, 94, 200);
            background: linear-gradient(180deg, rgba(103, 94, 200, 1) 0%, rgba(26, 101, 224, 1) 100%);
          }

          h3 {
            color: #44546f;
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .index-layout {
    margin-block-start: 3em;
    grid-template-columns: minmax(10px, 1fr) auto minmax(10px, 1fr);

    .board-container {
      .recent-container {
        display: flex;
        justify-content: center;
      }
      .starred-container {
        display: flex;
        justify-content: center;
      }
    }
  }
}
