.board {
  position: relative;
  height: 100px;
  width: 200px;
  padding: 1em;
  text-shadow: 0 0 0.5px rgba(0, 0, 0, 0);
  border-radius: em(5, 14);
  overflow: hidden;
  box-shadow: 5px 5px–––– 10px rgba(128, 128, 128, 0.13);
  cursor: pointer;

  .drop {
    position: absolute;
    inset: 0;
    border-radius: em(3px, 14px);
    background-color: rgba(0, 0, 0, 0.239);
    z-index: 0;
  }

  &:hover .drop {
    background-color: rgba(0, 0, 0, 0.339);
  }
  &:hover .btn-star {
    transform: translateX(0);
  }

  h2 {
    color: white;
    font-size: 0.9rem;
    padding: 0.9em 0.7em;
  }
  .btn-star {
    position: absolute;
    right: 4.5%;
    bottom: 7%;
    color: white;
    cursor: pointer;
    transform: translateX(200%);
    transition: 0.2s;

    &.starred {
      transform: translateX(0);
      @include trello-icon($content: $icon-full-star, $type: lg, $color: #626f86);
      font-size: 1.7em;
      color: gold;
    }
    &.unstarred {
      @include trello-icon($content: $icon-star, $type: lg, $color: #626f86);
      font-size: 1.7em;
      color: white;
    }
  }
}

@media(max-width:600px) {
  .board {
    width: 143px;
  }
}
