h6 {
  margin-block-end: rem(8px);
  font-size: rem(12px);
}

.layout {
  display: flex;
  justify-content: center;
  gap: rem(8px);
  margin-block-end: rem(12px);

  & > * {
    height: rem(64px);
    width: rem(136px);
    border: 1px solid rgb(229, 229, 229);
    border-radius: 0.3em;
  }

  .layout1 {
    position: relative;
    .bottom-section {
      position: absolute;
      bottom: 0;
      height: 55%;

      width: 100%;
      display: flex;
      flex-direction: column;
      padding-inline-start: 0.7em;
      background-color: white;

      .line1 {
        height: rem(3px);
        background-color: grey;
        width: 90%;
        border-radius: 0.3em;
        margin-block-start: 0.5em;
      }
      .line2 {
        height: rem(3px);
        background-color: grey;
        width: 60%;
        border-radius: 0.3em;
        margin-block-start: 0.3em;
      }

      .bottom-line {
        display: flex;
        gap: 0.1em;

        .line3 {
          height: rem(4px);
          background-color: grey;
          width: 10%;
          border-radius: 0.1em;
          margin-block-start: 0.3em;
        }

        .circle {
          position: absolute;
          right: 5%;
          bottom: 18%;
          height: rem(8px);
          width: rem(8px);
          background-color: grey;
          border-radius: 50%;
        }
      }
    }
  }

  .layout2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .bottom-section {
      margin-block-end: 1.2em;
      padding-inline-start: 0.7em;

      .line4 {
        height: rem(3px);
        background-color: grey;
        width: 90%;
        border-radius: 0.3em;
        margin-block-start: 0.5em;
      }

      .line5 {
        height: rem(3px);
        background-color: grey;
        width: 60%;
        border-radius: 0.3em;
        margin-block-start: 0.3em;
      }
    }
  }
}

.colors-title {
  margin-block-end: rem(8px);
  font-size: rem(12px);
}

.color-pallate-wide {
  display: grid;
  grid-template-columns: repeat(5, rem(50px));
  grid-template-rows: repeat(2, rem(32px));
  gap: 0.4em;
  justify-content: center;
  margin-block-end: rem(12px);

  & > *:hover {
    // background-color:  rgba(0, 0, 0, 0.322) !important;
  }

  & > * {
    border-radius: rem(3px);
    cursor: pointer;
  }

  .green {
    background: #4dce97;
  }
  .gold {
    background: #5504e1;
  }
  .orange {
    background: #faa63d;
  }
  .light-orange {
    background: #faa73d;
  }
  .purple {
    background: #d574e9;
  }
  .blue {
    background: #589dff;
  }
  .tourq {
    background: #61c7d2;
  }
  .pink {
    background: #f77cb2;
  }
  .grey {
    background: #8591a2;
  }
  .red {
    background: #e85151;
  }
}

.attachments {
  margin-block-end: rem(12px);
}

.remove-cover {
  display: flex;
  justify-content: center;
  height: rem(32px);
  border-radius: 0.2em;
  background-color: #ecedef;
  color: #182a4e;
  margin-block-start: rem(8px);
  margin-block-end: rem(12px);
  color: $forms-btn;

  button {
    font-size: rem(px);
  }
}

.img-pallate-wide {
  display: grid;
  grid-template-columns: repeat(3, rem(88px));
  grid-template-rows: repeat(2, rem(48px));
  gap: rem(8px);
  justify-content: center;

  & > *:hover {
    // background-color:  rgba(0, 0, 0, 0.322) !important;
  }

  & > * {
    border-radius: rem(3px);
    cursor: pointer;
    @include imgPosition;
  }
}

.search-container {
  margin-block-start: rem(12px);
  display: flex;
  justify-content: center;

  .img-input {
    width: 100%;
    height: rem(30px);
    border-radius: rem(3px);
    border: 1px solid lightgray;
    padding: rem(3px), rem(3px);
    &:focus {
      border: 2px solid $forms-btn;
    }
  }
}
