.group-list {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin: 0;
  padding: 0;
  list-style: none;

  .group-actions {
    display: flex;
  }

  .group-btn {
    background: none;
    border: none;
    color: $button-color;
    margin: 0;
    padding: 4px 8px 4px 6px;
    width: 100%;
    text-align: start;
  }

  .group-btn:hover {
    @include button-hover-style;
  }

  .list-btn-wrapper{
    margin: 0 4px;
    padding: 8px;
    background-color: #FFFFFF3d;
    border-radius: 12px;
    margin-block-start: 0.55em;
    width: 272px;
    text-align: start;
    cursor: pointer;
  }

  .list-btn-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.1); 
  }

  .open-form-wrapper {
    background-color: $list-background-color;
    margin-block-start: 0.55em;

    border-radius: 12px;
    width: 272px;
    margin: 0 4px;
    padding: 8px;
  }

  .list-btn {
    color: $dynamic-text;
    padding: 6px 8px;
    margin: 0
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
