.group-list-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 8px;
  padding-bottom: 8px;
  margin-inline-start: 1.6rem;

  .group-list {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: start;
    margin: 0;
    padding: 0;
    list-style: none;

    .group-actions {
      display: flex;
    }

    .group-btn {
      background: none;
      border: none;
      color: $button-color;
      margin: 0;
      padding: 4px 8px 4px 6px;
      width: 100%;
      text-align: start;
      margin-inline-start: 0.2em;
      margin-top: 0.1em;
      display: flex;
      align-items: center;
      margin-inline: 8px;
      margin-bottom: 0.4em;
      margin-top: 0.3em;
      > .icon {
        @include trello-icon($content: "\e901", $type: sm, $color: $text-subtle);
        margin-inline-end: 0.55em;
        margin-inline-start: 1.3px;
      }
    }

    .group-btn:hover {
      @include button-hover-style;
      border-radius: 8px;
      
    }

    .list-btn-wrapper {
      margin: 0 4px;
      padding: 8px;
      background-color: #ffffff3d;
      border-radius: 12px;
      margin-block-start: 0.55em;
      text-align: start;
      cursor: pointer;
      min-width: rem(250px);
      height: rem(45px);

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    .open-form-wrapper {
      background-color: $list-background-color;
      border-radius: rem(12px);
      min-width: 272px;
      padding: rem(8px);
    }

    .list-btn {
      color: $dynamic-text;
      padding: 6px 8px;
      margin: 0;
      display: flex;
      gap: rem(3.8px);
      font-size: em(14.92px);
      align-items: center;
      > .icon {
        @include trello-icon($content: "\e901", $type: sm, $color: $dynamic-text);
        margin-inline-start: 0.05rem;
        font-size: em(18px);
        font-weight: 500;
      }
    }

    form {
      display: flex;
      flex-direction: column;
    }
  }

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background: #00000026;
  }

  &::-webkit-scrollbar-thumb {
    background: #ffffff4d;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #ffffff6d;
  }
}

.group-list-section {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.smooth-dnd-container {
  min-height: 0;
}

.smooth-dnd-container.horizontal {
  .smooth-dnd-draggable-wrapper {
    transition-duration: 0ms;
    
  }
}

.smooth-dnd-container.horizontal {
  // position: static;
}

.zoomed-out {
  transform: scale(0.8); /* Adjust as needed */
  width: calc(100% * 0.6); /* Adjust to match the scale factor */
  transform-origin: top left;
  transition: transform 0.3s ease;

}



@media (max-width: 600px) {
  .zoom-btn {
    position: fixed;
    right: 10px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #188745; 
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000; 
}

  .zoom-btn .icon {
    background-image: url('path-to-your-icon.png'); 
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .zoom-btn .fas {
    color: white;
  }

  .zoom-btn:hover {
    background-color: #50a941; 
  }
}
