.group-preview {
    display: flex;
    flex-direction: column;
    color: $list-text-color;
    margin: 6px;
    cursor: pointer;

    .group-card {
        display: flex;
        flex-direction: column;
        background-color: $list-background-color;
        border-radius: 12px;
        padding: 0.5rem;
        width: 272px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        // overflow-y: auto;
        @include responsive-max-height();

        .scroll-container {
            overflow-y: auto;
            // max-height: calc(100vh - 42.89px - 64.38px);
            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-track {
                background: rgba(213, 224, 243, 0.4);
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: #00000026;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #888;
            }
        }

        .group-header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 0.5em;
            > div > .watch {
                @include trello-icon($content: "\e969", $type: sm, $color: #626f86);
            }
        }

        .group-title {
            border: none;
            background-color: transparent;
            font-size: 0.9em;
            margin-inline-start: 0.8em;
            font-weight: bold;
            color: $list-title-color;
            cursor: pointer;
        }

        .menu-btn {
            background: none;
            border: none;
            margin: 0;
            padding: 5px 6px;
            border-radius: 3px;
            > .icon {
                @include trello-icon($content: "\e952", $type: sm, $color: $list-title-color);
            }

            &:hover {
                @include button-hover-style;
            }
        }

        @media (min-width: 1024px) {
            max-height: calc(100vh - 180px);
        }

        @media (min-width: 1440px) {
            max-height: calc(100vh - 200px);
        }
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        // overflow-x: hidden;
        // overflow-y: auto;

        & .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        & .icon {
            @include trello-icon($content: "\e91c", $type: sm, $color: $icon-subtle);
            align-self: flex-start;
            vertical-align: middle;
            padding: 6px 6px;
            border-radius: 6px;
            &:hover {
                @include button-hover-style;
            }
        }

        & .header-title {
            color: $text-subtle;
            font-weight: 600;
            font-size: em(14px);
            text-align: center;
            flex-grow: 1;
            margin-top: 1.2em;
            margin-bottom: 1.2em;
            margin-inline-start: 3em;
            letter-spacing: 0.01em;
        }

        > .actions {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            font-size: em(14px);

            > .action {
                padding: 6px 12px;
                margin: 0 rem(-12px);
                width: 100%;
                text-align: start;
            }

            > .action:hover {
                @include button-hover-style;
            }
        }
    }

    .modal {
        position: fixed;
        z-index: 1;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 0 12px 12px;
        border: 1px solid #f0f0f0;

        width: rem(304px);
        border-radius: 10px;
    }
}
