.homepage {
    height: 720px;
    width: 100%;
    background-image: url(../cmps/images.ctfassets.net/rz1oowkt5gyp/7lTGeXbBRNRLaVk2MdBjtJ/99c266e…/white-wave-bg.svg),
        linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180));
    background-position-x: center, 0px;
    background-position-y: bottom -0.5px, 0px;
    background-size: 100% 14%, auto;
    background-repeat: no-repeat, repeat;
    background-attachment: scroll, scroll;
    background-origin: padding-box, padding-box;
    background-clip: border-box, border-box;
    background-color: rgb(82, 67, 170);

    .main-layout {
        position: relative;
        display: grid;
        grid-template-columns: 1fr minmax(auto, rem(570px)) minmax(auto, rem(570px)) 1fr;
        min-height: rem(630px);

        .demo {
            grid-column: 2;
            align-self: center;
            margin-block-start: rem(-110px);

            h2 {
                color: white;
                font-size: rem(48px);
                font-weight: 600;
                line-height: 1.2em;
                font-family: charlie-semi;
            }
            h6 {
                padding-block-start: 2em;
                color: white;
                font-size: rem(20px);
                font-weight: 200;
                font-family: charlie-semi;
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: rem(185px);
                height: rem(45px);
                background-color: #0065ff;
                color: white;
                padding: 0.7em 2.1em;
                font-size: 1rem;
                border-radius: 0.3em;
                margin: 0;
                margin-block-start: rem(24px);
                margin-block-end: rem(30px);
                font-family: charlie;
                transition: 0.3s;

                &:hover {
                    background-color: darken(#0065ff, 8%);
                }
            }
        }

        .right-hero-container {
            grid-column: 3;
            margin-block-start: 5em;
            align-self: center;
            z-index: 998;

            img {
                width: 105%;
                z-index: 998;
            }
        }

        .buttom-layout {
            position: relative;
            grid-column: 4/2;
            z-index: 999;
            margin-block-start: rem(-100px);

            .trio {
                margin-block-start: -11em;
                margin-block-end: 2em;
                font-family: charlie-semi;
                font-size: rem(16px);
            }

            .sub-header {
                grid-column: 1/-1;
                h1 {
                    margin-block-end: 1.5em;
                    font-family: charlie-semi;
                    font-size: rem(36px);
                }

                h5 {
                    font-family: charlie;
                    font-size: rem(20px);
                    letter-spacing: 0.05em;
                    line-height: 1.5em;
                }
            }

            .cards-container {
                font-size: 1.3em;
                line-height: 1.4em;
                margin-block-start: 5em;
                display: grid;
                grid-template-columns: rem(380px) 1fr;
                grid-template-rows: repeat(3, auto);
                gap: rem(32px);
                margin-block-end: 10em;
                font-family: charlie;

                & > * > :first-child {
                    margin-block-end: 0.8em;
                    font-family: charlie-semi;
                    font-size: 1rem;
                }

                .card-1 {
                    grid-column: 1;
                    grid-row: 1;
                    align-self: start;
                    background-color: white;
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.077);
                    padding: rem(16px);
                    border-left: 7px solid rgb(0, 199, 229);
                    border-radius: 0.3em;
                    font-size: rem(16px);
                    font-family: charlie;
                }
                .card-2 {
                    align-self: center;
                    grid-column: 1;
                    grid-row: 2;
                    font-size: rem(16px);
                    font-family: charlie;
                    margin-inline-start: 1.7em;
                }
                .card-3 {
                    align-self: end;
                    grid-column: 1;
                    grid-row: 3;
                    font-size: rem(16px);
                    font-family: charlie;
                    margin-inline-start: 1.7em;
                }

                img {
                    width: 100%;
                    grid-column: 2;
                    grid-row: 4/1;
                }
            }
        }
    }
    
    .wave {
        grid-column: 1 / -1;
        align-self: end;
        width: 100%;
        margin-block-start: rem(-68px);
        height: 340px;
    }
}

@media (max-width: 600px) {
    .homepage {
        .main-layout {
            grid-template-columns: 30px 1fr 30px;
            margin-block-start: 2.5em;

            .demo {
                grid-column: 2;
                justify-self: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-block-start: 5em;
                h2 {
                    line-height: 1em;
                    font-size: 2.6em;
                }
                h6 {
                    font-family: charlie;
                }

                button {
                    width: rem(300px);
                    font-family: charlie-semi;
                    margin: rem(15px);
                }
            }

            .right-hero-container {
                grid-column: 2;
                img {
                    width: 100%;
                }
            }

            .buttom-layout {
                grid-row: 3;
                grid-column: 2;
                margin: 0;
                z-index: 998;

                .trio {
                    margin: 0;
                    margin-block-start: 2em;
                    font-size: rem(14px);
                }

                .sub-header {
                    margin-block-start: 0.5em;
                    grid-column: 2;
                    h1 {
                        margin-block-end: 1em;
                        font-size: 1.6em;
                    }

                    h5 {
                        font-family: charlie-light;
                    }
                }

                .cards-container {
                    grid-column: 2;
                    grid-row: 4;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        .wave {
            position: absolute;
            top: 15%;
            grid-row: 2;
        }
    }
}
