.home-header {
    display: grid;
    grid-template-columns:1fr rem(500px) 1fr;
    height: 60px;
   
    .logo {
        display: flex;
        align-items: baseline;
        justify-self: end;
        align-self: center;
        gap: rem(6px);
        font-size: 3em;
        grid-column: 1;
        width: 500px;

        h5 {
            font-family: charlie-semi;
        }
        .trello {
            img {
                height: 24px;
            }
        }
    }

    .user-section {
        grid-column: 3;
        justify-self: start;
        display: flex;
        align-items: center;

        .btn-header {
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(250px);
            height: 100%;
            background-color: #0065ff;
            color: white;
            transition: 0.3s;
            cursor: pointer;
            font-family: charlie;
            font-size: rem(19px);
        }
        & :nth-child(1) {
            background-color: white;
            color: darkblue;
        }
        & :nth-child(2):hover {
            background-color:  darken(#0065ff, 8%);
        }
    }
}
