.home-header {
    display: grid;
    grid-template-columns: 1fr rem(500px) 1fr;
    height: 60px;
    background-color: rgb(255, 255, 255);
    z-index: 999;

    .mobile-menu {
        display: none;
    }

    .logo {
        display: flex;
        align-items: baseline;
        justify-self: end;
        align-self: center;
        gap: rem(6px);
        font-size: 3em;
        grid-column: 1;
        width: 500px;

        i {
            display: none;
        }

        h5 {
            font-family: charlie-semi;
        }
        .trello {
            img {
                height: 24px;
            }
        }
    }

    .user-section {
        grid-column: 3;
        justify-self: start;
        display: flex;
        align-items: center;

        .btn-header {
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(250px);
            height: 100%;
            background-color: #0065ff;
            color: white;
            transition: 0.3s;
            cursor: pointer;
            font-family: charlie;
            font-size: rem(19px);
        }
        & :nth-child(1) {
            background-color: white;
            color: darkblue;
        }
        & :nth-child(2):hover {
            background-color: darken(#0065ff, 8%);
        }
    }
}

@media (max-width: 600px) {
    .v-enter-active,
    .v-leave-active {
        transition: opacity 0.5s ease;
    }

    .v-enter-from,
    .v-leave-to {
        opacity: 0;
    }

    .home-header {
        position: fixed;
        top: 0%;
        display: flex;
        align-items: center;
        width: 100%;
        height: rem(70px);

        .logo {
            display: flex;
            align-items: center;
            height: 100%;
            background-color: rgb(255, 255, 255);
            z-index: 999;
            border-bottom: 1px solid lightgray;

            & span {
                padding-inline-start: 0.5em;
            }

            i {
                display: block;
                position: absolute;
                top: 32.5%;
                right: 5%;
                font-size: rem(25px);
            }

            h5 {
                font-size: 0.5em;
            }
        }
        .user-section {
            display: none;
        }

        .mobile-menu {
            position: absolute;
            top: 40%;
            transform: translateY(-130%);
            width: 100%;
            background-color: rgb(255, 255, 255);
            height: 100vh;
            z-index: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
            transition: transform 1s;
            padding-block-start: 8em;

            & > * {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-block: 1.05em;
                width: 80%;
                font-size: 1.35em;
                font-family: charlie-semi;
                cursor: pointer;
            }

            & > :first-child {
                background-color: #0065ff;
                color: white;
            }
            & > :nth-child(2) {
                border: 1px solid #0065ff;
            }

            &.open {
                transform: translateY(0);
            }
        }
    }
}
