.img-pallte {
  @include pallete;
  padding-block-end:rem(8px) ;
  height: rem(50px);
  
  & :hover {
    background-color: 0 0 10px black;
  }

  & > * {
    border-radius: rem(3px);
    width: rem(64px);
    cursor: pointer;
  }

  .img-preview {
    @include imgPosition;
  }
}
