.starred {
    .starred-modal {
        @include pickerModal;

        .empty-starred {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-inline: rem(13px);
            text-align: center;

            p {
                color: rgb(68, 84, 111);
            }
        }
    }
}
