.starred {
    .starred-modal {
     @include headerBoardModal;

        .output-list {
            display: flex;
            flex-direction: column;
            gap: 0.3em;
            list-style: none;
            padding: 0;

            & > * :hover {
                background-color: rgb(244, 244, 244);
            }

            .row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0.6em;
                padding-inline-start: 1em;
                padding-block-start: 0.3em;

                .board-recent {
                    display: flex;
                    gap: rem(7px);
                    padding: 0;

                    @include bg-preview;

                    .info {
                        display: flex;
                        flex-direction: column;

                        .board-title {
                            font-size: 1em;
                            color: #182b4d;
                            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu,
                                Droid Sans, Helvetica Neue, sans-serif;
                            font-weight: 600;
                            padding: 0;
                        }
                        p {
                            font-size: 0.9em;
                            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu,
                                Droid Sans, Helvetica Neue, sans-serif;
                            color: rgb(106, 106, 106);
                        }
                    }
                }

                .btn-star {
                    margin-inline-end: 1em;
                    cursor: pointer;

                    &.unstarred {
                        @include trello-icon($content: $icon-star, $type: lg, $color: gold);
                        font-size: rem(14px);
                    }
                    &.starred {
                        @include trello-icon($content: $icon-full-star, $type: lg, $color: gold);
                        font-size: rem(14px);
                    }
                }
            }
        }
    }
}

.empty-starred {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: rem(13px);
    text-align: center;

    p {
        color: rgb(68, 84, 111);
    }
}
