.task-preview {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 7px;
    padding: 8px 8px 4px 12px;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    background-color: $task-bg-clr;
    cursor: pointer;
  
    /* Set the <li> element to take up the full width of its parent (.task-preview) */
    > li {
      width: 100%;
    }
  
    > li > p {
      margin: 4px;
      text-align: start;
    }
  
    &:hover {
      background-color: rgba(160, 177, 190, 0.09);
    }
  }
  