.task-preview {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 7px;
    padding: 8px 8px 4px 12px;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    background-color: $task-bg-clr;
    cursor: pointer;
  
    > li {
      width: 100%;

      .icon {
        font-size: 1rem;
        &.watch {
          @include trello-icon($content: "\e969", $type: sm, $color: #626F86);
        }
        &.desc {
          @include trello-icon($content: "\e922", $type: sm, $color: #626F86);
        }
        &.checklist {
          @include trello-icon($content: "\e918", $type: sm, $color: #626F86);
        }
        &.comment {
          @include trello-icon($content: "\e91e", $type: sm, $color: #626F86);
        }
        &.date {
          @include trello-icon($content: "\e91b", $type: sm, $color: #626F86);
        }
        &.attach {
          @include trello-icon($content: "\e908", $type: sm, $color: #626F86);
        }
        &.member {
          // Members circles
        }
      }
    }
  
    > li > p {
      margin: 0 0 4px;
      overflow: hidden;
      text-align: start;
      font-size: 0.9em;
    }
  
    &:hover {
      background-color: rgba(160, 177, 190, 0.09);
    }
  }
  