.task-preview {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-bottom: 7px;
  padding: 8px 8px 4px 12px;
  box-shadow: $task-shadow-raised;
  border: 0.1px solid rgb(212, 212, 212);
  background-color: $task-bg-clr;
  cursor: pointer;
  &.with-cover {
    border-radius: 0 0 8px 8px;
  }

  > li {
    width: 100%;

    .tool-tip {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .tool-tip-icons {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 0.33em;
        flex-grow: 1;

        > div {
          display: flex;
          margin-right: 1em;
          align-items: center;
          justify-content: center;

          .checklist-counter {
            margin-top: -0.05rem;
            // vertical-align: middle;
            > .slash {
              scale: (1.1);
            }
          }
        }

        > div > .icon {
          display: flex;
          align-items: center;
          &.member {
            margin-right: auto;
          }
          & + span {
            font-size: rem(12px);
            vertical-align: middle;
            margin-left: 0.3em;
            color: $text-subtle;
          }
        }

        .completed-checklist {
          background-color: $background-success-bold;
          border-radius: 3px;
          padding: 2px 4px 2px 4px;

          .icon.checklist {
            color: $dynamic-text;
          }

          > .checklist-counter {
            color: $dynamic-text;
          }
        }

        .due-date {
          align-self: center;

          &.overdue-long {
            background-color: $background-danger;
            border-radius: 3px;
            padding: 2px 4px 2px 4px;

            .icon.date {
              color: $ds-icon-danger;
            }

            .date-counter {
              color: $ds-text-danger;
            }

            &:hover {
              background-color: $ds-background-danger-hovered;
              .icon.date {
                @include trello-icon($content: "\e919", $type: sm, $color: $ds-icon-danger);
              }
            }
          }

          &.overdue-short {
            background-color: $ds-background-danger-bold;
            color: $dynamic-text;
            border-radius: 3px;
            padding: 2px 4px 2px 4px;

            .icon.date {
              color: white;
            }

            .date-counter {
              color: white;
            }

            &:hover {
              background-color: $ds-background-danger-bold-hovered;
              .icon.date {
                @include trello-icon($content: "\e919", $type: sm, $color: $dynamic-text);
              }
            }
          }

          &.due-soon {
            background-color: $ds-background-warning-bold;
            color: $ds-text-warning-inverse;
            border-radius: 3px;
            padding: 2px 4px 2px 4px;

            .icon.date {
              color: $ds-text-warning-inverse;
            }

            .date-counter {
              color: $ds-text-warning-inverse;
              margin-top: 0.021rem;
            }
            &:hover {
              background-color: $ds-background-warning-bold-hovered;
              .icon.date {
                @include trello-icon($content: "\e919", $type: sm, $color: $ds-text-warning-inverse);
              }
            }
          }

          &.done {
            background-color: $background-success-bold;
            &:hover {
              background-color: $background-success-bold-hovered;
              .icon.date {
                @include trello-icon($content: "\e918", $type: sm, $color: $dynamic-text);
              }
            }
          }
        }
      }

      .avatar-container {
        display: flex;
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: flex-end;
        .member-avatar {
          display: flex;
          flex-direction: row;
          cursor: pointer;
          margin-right: -1.2px;
          margin-bottom: 4px;
          gap: 2px;
          .avatar {
            width: 24px;
            height: 24px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 2px;
          }
        }
      }

      .icon {
        &.watch {
          @include trello-icon($content: "\e969", $type: sm, $color: #626f86);
        }
        &.desc {
          @include trello-icon($content: "\e922", $type: sm, $color: #626f86);
        }
        &.checklist {
          @include trello-icon($content: "\e918", $type: sm, $color: #626f86);
        }
        &.comment {
          @include trello-icon($content: "\e91e", $type: md, $color: #626f86);
        }
        &.date {
          @include trello-icon($content: "\e91b", $type: sm, $color: #626f86);
        }
        &.attach {
          @include trello-icon($content: "\e908", $type: sm, $color: #626f86);
        }
      }
    }
  }

  > li > .task-header {
    display: flex;
    justify-content: space-between;
    position: relative;

    > p {
      margin: 0 0 4px;
      padding-inline-end: 1em;
      overflow: hidden;
      text-align: start;
      font-size: rem(12.6px);
      word-spacing: rem(0.5px);
      letter-spacing: rem(0.5px);
      color: $task-title;
    }
  }

  &:hover {
    background-color: rgba(160, 177, 190, 0.09);
  }

  .task-header.full-cover-task {
    margin-top: 1.3em;

    > p {
      font-weight: 500;
      font-size: 16px;
      color: rgb(23, 43, 77);
      line-height: 20px;
      padding-bottom: 4px;
    }
  }

  .task-header.full-cover-image-task {
    margin-top: 15.7em;

    > p {
      font-weight: 500;
      font-size: 16px;
      color: rgb(23, 43, 77);
      line-height: 20px;
      padding-bottom: 4px;
    }
  }

  .full-cover-image-task {
    position: relative;
    background: linear-gradient(180deg, #ffffff80, #fff);
    overflow: visible;
    width: 100%;
    padding: 8px 8px 4px 12px;
    border-radius: 8px;
  }

  .full-cover-image-task::before {
    background: linear-gradient(180deg, rgba(255, 252, 252, 0), rgba(255, 255, 255, 0.5));
    content: "";
    height: 32px;
    left: 0;
    mix-blend-mode: normal;
    position: absolute;
    right: 0;
    top: -32px;
    width: 100%;
  }
}

.no-padding {
  padding: 0;
}

.icon-pencil {
  position: absolute;
  top: 8%;
  right: -3%;
  transform: translateY(-65%) translateX(-3%) scale(0.9);
  font-size: 0.8em;
  padding: 6px 8px;
  border-radius: 6px;
  @include trello-icon($content: "\e928", $type: sm, $color: #626f86);

  &:hover {
    background-color: darken($dynamic-button-highlighted, 2.5%);
  }
}