.add-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: -44%;
    width: em(304, 14);
    height: em(247, 14);
    border-radius: em(8, 14);
    font-size: 14px;
    color: $clr2;
    padding: em(16, 14) em(12, 14);
    z-index: 999;
    border: 0.3px solid rgba(128, 128, 128, 0.186);
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.144);

   
}