.app-header {
    nav {
        display: flex;
        justify-content: space-between;
        padding: rem(7px);
        position: relative;
        background-color: white;
        color: $textClr;
        border-bottom: 0.5px solid rgba(128, 128, 128, 0.466);
        .left {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & > * {
                margin-inline-end: 1.5em;
            }
            .menu {
                grid-column: 1;
                margin-block-start: 0.26em;
                img {
                    height: rem(14px);
                }
            }

            .recent {
                @include header-btn;
            }
            .starred {
                @include header-btn;
                margin-inline-start: -1em;
            }
        }

        .logo-container {
            grid-column: 2;
            align-self: center;
            .logo {
                display: flex;
                justify-content: center;
                align-items: baseline;
                font-size: rem(13px);
                border-radius: 0.3em;
                transition: 0.5s;
                margin-inline-start: -0.5em;

                h2 {
                    padding-inline-end: em(4.35, 14);
                    font-size: 1.6em;
                }

                & :nth-child(1) {
                    font-size: em(23px, 16px);
                    font-weight: 900;
                    padding: 0 0.3em;
                }
            }
        }

        .create-btn {
            align-self: center;
            background-color: $lclr2;
            color: white;
            padding: 0.4em 1em;
            border-radius: 0.2em;
            width: rem(68px);
        }

        .right {
            display: flex;
            align-items: center;
            gap: rem(15px);

            .contrast {
                margin-block-start: 0.3em;
                img {
                    height: rem(18px);
                }
            }
            .user {
                display: flex;
                align-items: center;
                justify-content: center;
                height: rem(22px);
                width: rem(22px);
                background-color: rgb(240, 172, 0);
                border-radius: 50%;
                padding: 0.8em;
                font-size: 0.7em;
                font-weight: 700;

                h2 {
                    margin: 0;
                }
            }
        }
    }
}
