header {
    position: relative;
    background-color: $clr6;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.3px solid white;

    .loggedin-user {
        background-color: $clr1;
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;
        span {
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
        img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
        }
    }
    nav {
        padding: 5px 0;
    }
    nav a:not(:first-child) {
        border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }
    nav .active {
        color: $clr1;
    }
    .create {
        position: absolute;
        background-color: #282e34;
        width: em(304, 14);
        height: em(247, 14);

        font-size: 14px;
        color: $clr2;

        padding: em(6, 14) em(12, 14);
    }
}
