.app-header {
    max-height: 48px;
    nav {
        display: flex;
        justify-content: space-between;
        padding: rem(7px);
        position: relative;
        background-color: white;
        color: $textClr;
        border-bottom: 0.5px solid rgba(128, 128, 128, 0.466);
        .left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: rem(8px);

            .recent {
                display: flex;
                justify-content: center;
                align-items: center;
                @include header-btn;
            }
            .starred {
                @include header-btn;
            }

            .logo {
                margin-inline-start: 2.5em;
                display: flex;
                justify-content: center;
                align-items: baseline;
                font-size: rem(13px);
                border-radius: 0.3em;
                transition: 0.5s;
                height: 100%;
                padding: 0.5em 0.7em;

                &:hover {
                    background-color: darken(white, 8%);
                }

                h2 {
                    font-size: 1.6em;
                }

                & :nth-child(1) {
                    font-size: em(23px, 16px);
                    font-weight: 900;
                    padding: 0 0.3em;
                }
            }
        }
        .create-btn {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $lclr2;
            color: white;
            padding: 0.4em 1em;
            border-radius: 0.2em;
            width: rem(68px);

            .clicked {
                background-color: red;
            }

            button {
                color: white;
            }

            &:hover {
                background-color: darken($lclr2, 8%);
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: rem(15px);

        .filter-container {
            position: relative;
            width: max-content;

            .search-icon {
                position: absolute;
                left: 3%;
                top: 50%;
                transform:translateY(-50%) ;

                .search-icon-img {
                    height: 13px;
                }
            }
        }

        .contrast {
            margin-block-start: 0.3em;
            img {
                height: rem(18px);
            }
        }
        .user {
            display: flex;
            align-items: center;
            justify-content: center;
            height: rem(22px);
            width: rem(22px);
            background-color: rgb(240, 172, 0);
            border-radius: 50%;
            padding: 0.8em;
            font-size: 0.7em;
            font-weight: 700;

            h2 {
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .app-header {
      margin-bottom: 1.4em;
      max-height: 48px;
      /* other styles remain the same */
    }
  }
  