.attachment-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;

    .icon-title-container-description {
        margin-bottom: 0px;
    }

    .attachment-img-container {
        background-color: #091e420a;
        border-radius: 3px;

        img {
            border-radius: 3px;
            width: 112px;
            height: 80px;
            object-position: center;
            object-fit: cover;
            margin-right: 14px;
        }
    }

    .attachment-action {
        text-decoration: underline;
        cursor: pointer;
    }

    &:hover {
        background-color: #eaecf0;
    }
}