.board {
  position: relative;
  height: 100px;
  width: 200px;
  border-radius: em(3, 14);
  padding: 1em;
  // background-size: cover;
  text-shadow: 0 0 0.5px rgba(0, 0, 0, 0);
  border-radius: em(3, 14);
  overflow: hidden;

  .drop {
    position: absolute;
    inset: 0;
    border-radius: em(3px, 14px);
    background-color: rgba(0, 0, 0, 0.17);
    z-index: 0;
  }

  &:hover .drop {
    background-color: rgba(0, 0, 0, 0.23);
  }
  &:hover .btn-star {
    transform: translateX(0);
  }

  h2 {
    color: white;
    font-size: 0.9rem;
    padding: 0.6em;
  }
  .btn-star {
    position: absolute;
    right: 4.5%;
    bottom: 7%;
    color: white;
    cursor: pointer;
    transform: translateX(200%);
    transition: 0.2s;

    &.starred {
      transform: translateX(0);
      @include trello-icon($content: $icon-full-star, $type: lg, $color: #626f86);
      font-size: 1.7em;
      color: gold;
    }
    &.unstarred {
      @include trello-icon($content: $icon-star, $type: lg, $color: #626f86);
      font-size: 1.7em;
      color: white;
    }
  }
}
