.board-container {
  padding: 2em 10em;

  .member-icon {
    @include trello-icon($content:'\e946' , $type: sm);
  }

  .starred {
    margin-block-end: rem(55px);
  }
  .recent {
    margin-block-end: rem(55px);
  }
  
  .workspace {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: rem(16px);
  }

  h3 {
    color: $lclr1;
    margin: em(11, 14) 0;
  }

  > * .title {
    font-size: 1rem;
    color: $lclr1;
    font-weight: 600;
    margin: em(11, 14) 0;
  }
  .create-board {
    position: relative;
    @include board;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f2f4;
    cursor: pointer;

    .board-title {
      font-weight: 200;
      font-size: rem(14px);
    }
  }
}
