.checklist-title-container {
    display: flex;
    color: #172b4d;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    letter-spacing: -0.005rem;
}

.btn-checklist-hide-show {
    padding: 6px 12px;
}

.checklist-title,
.todo-title {
    margin: 0 0 4px -2px;
    width: 100%;
    border: 0;
    padding: 6px 10px;
    background-color: #F1F2F4;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;

    &:focus {
        border: none;
        outline: none;
        min-height: 55px;
        background-color: white;
        display: flex;
        // box-shadow: inset 0 0 0 2px #388bff;
        border-color: #091e4224;
        box-shadow: inset 0 0 0 1px #091e4224;
        margin-bottom: 4px;
    }

}

.icon-title-container-checklist {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.checklist-title {
    border: 0;
    background-color: #F1F2F4;
    height: 32px;
    width: 100%;
    // font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    padding: 0px;

    &:focus {
        background-color: white;
        height: 70px;
        padding: 10px;
    }
}

.todo-container {
    // width: 100%;
    align-content: space-between;
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 0px 0 0px -40px;
    align-items: flex-start;

    input {
        // border: 1px solid red;
        // position: absolute;
        padding-top: 10px;
        margin: 13px 9px 0px 9px;
    }

    textarea {
        border: 0;
        background-color: #F1F2F4;
        height: 36px;
        width: 100%;
        // font-size: 1rem;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
        padding: 0 10px;

        &:focus {
            display: flex;
            flex-direction: column;
            background-color: white;
            height: 100px;
        }

        &:hover {
            transition: 0.6s;
            background-color: #E4E6EA;

            textarea {
                // transition: 0.6s;
                background-color: #E4E6EA;
                // padding: 0;
            }
        }
    }
}

.new-todo-title {
    border: 0;
    width: 100%;
    height: 40px;
    // font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    padding: 10px;
    background-color: white;
}

.finished {
    text-decoration: line-through;
}

.todo-title {
    border: 1px solid red;
    align-items: center;
}


.is-add-todo {
    border: 0;
    background-color: #F1F2F4;
    // width: 90%;
    height: 0px;
    // font-size: 1rem;
    // margin: 17px 0 0 11px; //with icon
    margin: 4px 0 37px 1px;
    padding: 0 10px;


    &:focus {
        border: none;
        outline: none;
        box-shadow: inset 0 0 0 2px #388bff;
        background-color: white;
        min-height: 40px;
    }
}


.percentage-bar {
    display: flex;
    flex-direction: row;
    margin-left: -60px;
    align-items: center;
    height: 30px;

    p {
        text-align: center;
        justify-content: center;
        padding: 0 15px 0 20px;
    }

    progress {

        width: 100%;
        border-radius: 4px;
        clear: both;
        height: 8px;
        overflow: hidden;
        position: relative;

        &::-webkit-progress-value {
            background-color: #579DFF;
            transition: width .5s ease-in-out;
        }

        &::-webkit-progress-bar {
            background-color: #D0D4DB;
            width: 100%;
        }

        &[value="100"]::-webkit-progress-value {
            // happens when progress bar is full
            background-color: #61bd4f;
        }
    }
}

.percentage-bar-num {
    margin-left: 8px;
    font-size: 11px;

}

.btn-save-close {
    display: flex;
    flex-direction: row;
}