.task-back-drop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 48px;
    align-items: start;
    overflow-y: auto;

    background-color: rgba(0, 0, 0, 0.3);
}

.task-details {
    z-index: 25;
    position: absolute;

    width: 768px;
    border-radius: 13px;
    margin-bottom: 40px;
    padding: 0;

    background-color: #f1f2f4;
    color: #172b4d;
    text-align: left;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Noto Sans,
        Ubuntu,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
    letter-spacing: -0.005rem;

    display: grid;
    grid-template-columns: 576px 192px;
    grid-template-rows: 2;

    .btn {
        height: 32px;
        border-radius: 5px;

        background-color: #e4e6ea;
        color: #172b4d;
        text-align: left;
        cursor: pointer;

        &:hover {
            background-color: #d0d4db;
        }
    }
}

.watchActive {
    display: none;
}

.close-task-details {
    z-index: 1;
    position: absolute;
    right: 25px;
    top: 22px;
    cursor: pointer;
}

// grid
.task-details-header {
    grid-column: 1/-1;
    grid-row: 1/2;

    display: flex;
    flex-direction: column;
    padding: 0;

    .task-details-cover {
        position: relative;
        width: 100%;
        height: 116px;
        border-radius: 8px 8px 0 0;
        // background-color: green;
        top: 0;
        left: 0;

        .span-cover {
            position: absolute;
            right: 20px;
            bottom: 14px;
            cursor: pointer;
        }
    }

    .coverActive {
        display: none;
    }

    .task-details-under-cover {
        position: relative;
        margin-top: 0;

        .deatils-title {
            border: 0;
            background-color: #f1f2f4;
            width: 90%;
            height: 40px;
            font-size: 1.3rem;
            margin: 12px 0 0 1px; //with icon
            // margin: 17px 0 0 46px;
            padding: 10px;
            font-family:
                -apple-system,
                BlinkMacSystemFont,
                Segoe UI,
                Roboto,
                Noto Sans,
                Ubuntu,
                Droid Sans,
                Helvetica Neue,
                sans-serif;

            &:focus {
                border: none;
                outline: none;
                box-shadow: inset 0 0 0 2px #388bff;
                background-color: white;
            }
        }

        .task-in-list {
            margin: -4px 0 0 57px;
        }

        .group-ops {
            text-decoration: underline;
        }
    }
}

.task-details-main {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 50px;

    .task-alerts {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 29px 0 0 0px;

        .label-wrapper {
            .label {
                display: flex;
                align-items: center;
                height: rem(34px);
                min-width: rem(44px);
                border-radius: 0.25em;
                padding: 0.9em;

                h6 {
                    font-weight: 200;
                    font-size: 1em;
                }
            }
        }

        .details-notification {

            h5 {
                margin: 0 0 7px 0;
            }

            .btn-watch {
                display: flex;
                justify-content: space-between;
                padding: 8px 8px;
                text-justify: center;

                .word-watch {
                    margin: 0px 20px 0 6px;
                }

                transition-duration: 85ms;
            }

            margin: -21px 10px 0px 0px;
        }

        .task-due-date {
            margin: -21px 0 0px 0;

            h5 {
                margin: 0 0 7px 0;
            }

            .btn-due-date {
                margin-left: 5px;
                padding: 9px 15px;
            }
        }

        .toggle-show-details {
            margin: 0 0 0 8px;
        }
    }

    .details-title-small {
        margin: 15px 0 0 5px;
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;

        &:nth-child(1) {
            margin: 0 0 0 5px;
        }
    }

    .details-title-big {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        // margin: 0 0 4px 0px;
        margin: 17px 0 -9px 12px;
        min-height: 32px;
        padding: 8px 0;
    }
}

.action-btns-container {
    grid-column: 2/3;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    padding: 0 16px 8px 8px;
    margin-top: 5px;

    h3.details-title-small {
        margin: 15px 0 0 0px;
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;

        // &:nth-child(1) {
        //     margin: 0 0 0 5px;
        // }
    }

    .btn {
        border: none;
        white-space: nowrap;
        border-radius: 3px;
        box-shadow: none;
        box-sizing: border-box;
        height: 32px;
        margin: 8px 20px 0 0;
        width: 168px;
        padding: 0 16px 8px 8px;
        max-width: 300px;
        padding: 6px 12px;
        text-decoration: none;
        text-overflow: ellipsis;
        transition-duration: 85ms;
        transition-property: background-color, border-color, box-shadow;
        transition-timing-function: ease;
        user-select: none;
        font-size: 14px;
        font-weight: 400;
    }
}

.details-title:hover,
.details-description:hover {
    background-color: #d0d4db;
}

.activity-show-details {
    display: flex;
    justify-content: space-between;
}

.details-activity-comment {
    outline: none;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    box-shadow:
        0px 1px 1px #091e4240,
        0px 0px 1px #091e424f;
    border: none;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 12px;
}

.task-detail button {
    margin: 0;
}


.icon-title-container {
    display: flex;
    flex-direction: row;

    .icon.card-big {
        margin: 22px 0 0 19px;
    }
}

.icon-title-container-description {
    display: flex;
    flex-direction: row;

    .description-big {
        margin: 26px 0 0 -46px;
    }

    .details-title-big {
        margin: 23px 0px 0 10px;
    }
}

.details-description {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 3px;
    margin: 15px 0 4px 0px;
    padding: 8px 12px;
    background-color: #e4e6ea;
    text-decoration: none;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Noto Sans,
        Ubuntu,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    line-height: 20px;

    &:focus {
        border: 0;
        min-height: 100px;
        box-shadow: inset 0 0 0 2px #388bff;
        background-color: white;
    }
}

.action-btns-container .icon {
    padding: 0 10px 0 0;
    margin-left: -4px;
    ;
}

.icon {
    &.member {
        @include trello-icon($content: "\e946", $type: sm, $color: #626f86);
    }

    &.label {
        @include trello-icon($content: "\e93f", $type: sm, $color: #626f86);
    }

    &.checklist {
        @include trello-icon($content: "\e91a", $type: sm, $color: #626f86);
    }

    &.date {
        @include trello-icon($content: "\e91b", $type: sm, $color: #626f86);
    }

    &.attachments {
        @include trello-icon($content: "\e908", $type: sm, $color: #626f86);
    }

    &.cover {
        @include trello-icon($content: "\e914", $type: sm, $color: #626f86);
    }

    &.arrow-right {
        @include trello-icon($content: "\e94a", $type: sm, $color: #626f86);
    }

    &.copy {
        @include trello-icon($content: "\e91f", $type: sm, $color: #626f86);
    }

    &.archive {
        @include trello-icon($content: "\e907", $type: sm, $color: #626f86);
    }

    &.share {
        @include trello-icon($content: "\e963", $type: sm, $color: #626f86);
    }

    &.card {
        @include trello-icon($content: "\e912", $type: sm, $color: #626f86);
    }

    &.card-big {
        @include trello-icon($content: "\e912", $type: lg, $color: #626f86);
    }

    &.eye {
        @include trello-icon($content: "\e969", $type: sm, $color: #626f86);
    }

    &.close {
        @include trello-icon($content: "\e91c", $type: sm, $color: #626f86);
    }

    &.full-checked {
        @include trello-icon($content: "\e918", $type: sm, $color: #626f86);
    }

    &.full-checked-big {
        @include trello-icon($content: "\e918", $type: lg, $color: #626f86);
    }

    &.checked {
        @include trello-icon($content: "\e916", $type: sm, $color: #626f86);
    }

    &.description-big {
        @include trello-icon($content: "\e922", $type: lg, $color: #626f86);
    }

    &.activity-big {
        @include trello-icon($content: "\e900", $type: lg, $color: #626f86);
    }

    &.plus {
        @include trello-icon($content: "\e901", $type: sm, $color: #626f86);
    }
}

// --ds-background-neutral: #091E420F;
// --ds-background-neutral-hovered: #091E4224;
// --ds-background-neutral-pressed: #091E424F;