/* Breakpoint mixins */
//Trello icons

@mixin for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: calc($narrow-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: calc($normal-breakpoint + 40px)) {
        @content;
    }
}

@mixin board {
    height: 100px;
    width: 200px;
    border-radius: em(3, 14);
    padding: 1em;
    background-size: cover;
}

@mixin color-pallate {
    display: flex;
    justify-content: space-between;
    height: rem(32px);
    padding: 0;
}

@mixin header-btn {
    .header-btn {
        cursor: pointer;
        padding: 0.5em 1em;
        border-radius: 0.2em;
        color: $textClr;

        &:hover {
            background-color: lightgray;
        }

        &.checked {
            background-color: #eaf2ff;
            color: #1068e4;

            &:hover {
                background-color: darken(#eaf2ff, 5%);
            }
        }
    }
}

@mixin pickerModal {
    // position: absolute;
    // transform: translate(0, 14%);
    // z-index: 999;
    // .search-output {
    //     background-color: white;
    //     width: rem(304px);
    //     box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.092);
    //     border: 1px solid rgb(238, 236, 236);
    //     border-radius: 0.7em;

    //     & > * :hover {
    //         background-color: rgb(244, 244, 244);
    //     }

    //     .output-list {
    //         display: flex;
    //         flex-direction: column;
    //         gap: 0.3em;
    //         list-style: none;
    //         padding: 0;

    //         .row {
    //             display: flex;
    //             align-items: center;
    //             justify-content: space-between;
    //             gap: 0.6em;
    //             padding-inline-start: 1em;
    //             padding-block-start: 0.3em;

    //             img {
    //                 height: rem(32px);
    //                 width: rem(40px);
    //                 border-radius: 0.3em;
    //             }

    //             .text {
    //                 margin-inline-start: -7.5em;
    //                 h2 {
    //                     font-weight: 300;
    //                     font-size: 1em;
    //                     color: #182b4d;
    //                     font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
    //                         Helvetica Neue, sans-serif;
    //                     font-weight: 600;
    //                 }
    //                 p {
    //                     font-size: 0.9em;
    //                     margin-block-start: -0.08em;
    //                     font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
    //                         Helvetica Neue, sans-serif;
    //                     color: rgb(106, 106, 106);
    //                 }
    //             }

    //             .btn-star {
    //                 margin-inline-end: 1em;
    //                 cursor: pointer;

    //                 &.unstarred {
    //                     @include trello-icon($content: $icon-star, $type: lg, $color: gold);
    //                     font-size: rem(14px);
    //                 }
    //                 &.starred {
    //                     @include trello-icon($content: $icon-full-star, $type: lg, $color: gold);
    //                     font-size: rem(14px);
    //                 }
    //             }
    //         }
    //     }
    // }
}

@mixin modalBtn {
    display: flex;
    justify-content: center;
    color: #f1f2f4;
    background-color: #f7f8f9;
    border-radius: 0.2em;
    font-weight: 200;
    padding: 0.5em;
}
@mixin modal {
    display: flex;
    flex-direction: column;
    width: em(304, 14);
    border-radius: em(8, 14);
    color: $clr2;
    background-color: white;
    padding: em(16, 14) em(12, 14);
    border: 0.3px solid rgba(128, 128, 128, 0.186);
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.144);
    cursor: default;

    .title {
        font-size: rem(14px);
        font-weight: 600;
        color: $lclr1;
    }
    .action {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@mixin imgPosition {
    background-size: cover;
    background-position: center;
}
@mixin pallete {
    display: flex;
    justify-content: space-between;
    height: rem(40px);
    padding: 0;
}
$icon-member: "\e946";
$icon-label: "\e93f";
$icon-checklist: "\e91a";
$icon-attachment: "\e908";
$icon-plus: "\e901";
$icon-arrow-right: "\e94a";
$icon-copy: "\e91f";
$icon-share: "\e963";
$icon-description: "\e922";
$icon-activity: "\e900";
$icon-archive: "\e907";
$icon-card: "\e912";
$icon-card-cover: "\e914";
$icon-gear: "\e932";
$icon-eye: "\e969";
$icon-comment: "\e91e";
$icon-clock: "\e91b";
$icon-star: "\e966";
$icon-full-star: "\e967";
$icon-two-members: "\e951";
$icon-three-dots: "\e952";
$icon-lighting-bolt: "\e909";
$icon-power-up: "\e956";
$icon-close: "\e91c";
$icon-checked: "\e916";
$icon-triello: "\e90b";
$icon-empty-checked: "\e919";
$icon-full-checked: "\e918";

@font-face {
    font-family: trellicons;
    src: url(../fonts/trello/trellicons.ttf);
}

@mixin trello-icon($content: "", $type: sm, $color: #42526e) {
    font-family: "trellicons";
    color: $color;

    @if $type ==sm {
        font-size: 1rem;
    } @else if $type ==md {
        font-size: 1.25rem;
    } @else if $type ==lg {
        font-size: 1.5rem;
    } @else if $type ==xl {
        font-size: 2.5rem;
    }

    &::before {
        content: $content;
    }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;
    &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: calc(($height / $width) * 100%);
    }
    > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    > img {
        height: 100%;
        object-fit: cover;
    }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

// button

@mixin button-hover-style {
    background-color: darken($dynamic-button-highlighted, 5%);
    // border-radius: 10px;
}

@mixin add-group-btn {
    background-color: $background-Add-btn;
    border-radius: 3px;
    color: $dynamic-text;
}

// scroll-bar mixin

@mixin responsive-max-height($large: em(190px), $extra-large: em(190px)) {
    max-height: calc(100vh - em(120px));

    @media (min-width: 1024px) {
        max-height: calc(100vh - #{$large});
    }

    @media (min-width: 1440px) {
        max-height: calc(100vh - #{$extra-large});
    }
}

// Icons

@mixin trello-icon($content: "", $type: sm, $color: #42526e) {
    font-family: "trellicons";
    color: $color;

    @if $type ==sm {
        font-size: 1rem;
    } @else if $type ==md {
        font-size: 1.25rem;
    } @else if $type ==lg {
        font-size: 1.5rem;
    } @else if $type ==xl {
        font-size: 2.5rem;
    }

    &::before {
        content: $content;
    }
}
