// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;

// Group Colors

$list-background-color: #101204;
$list-title-color: #B6C2CF;
$list-text-color: #9FADBC;
$task-bg-clr: #22272B;
$button-color: #8C9BAB;
$dynamic-text: #FFFFFF;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
