// Colors
$clr1: #9FADBC;
$clr2: #b6c2cf;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #1d2125;

// Group Colors

$list-background-color: #F1F2F4;
$list-title-color: rgb(23, 43, 77);
$list-text-color: rgb(23, 43, 77);
$task-bg-clr: #FFFFFF;
$button-color: #44546f;
$dynamic-text: #FFFFFF;
$dynamic-button: transparent;
$dynamic-button-hovered: #A6C5E229;
$dynamic-button-pressed: #BFDBF847;
$dynamic-button-highlighted: #DFE1E6;
$dynamic-button-highlighted-text: #172B4D;
$dynamic-button-highlighted-hovered: #FFFFFF;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
