// Colors
$clr1: #9FADBC;
$clr2: #b6c2cf;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #1d2125;

//Colors - light: 
$lclr1: #182b4d;
$lclr2: #1266e4;

// Board Details - colors
$task-title: #172B4D;
$list-background-color: #F1F2F4;
$list-title-color: rgb(23, 43, 77);
$list-text-color: rgb(23, 43, 77);
$text-subtle: #44546F;
$task-bg-clr: #FFFFFF;
$button-color: #44546f;
$border-focused: #388BFF;
$group-background-input: #FFFFFF;
$background-Add-btn: #0C66E4;
$dynamic-text: #FFFFFF;
$icon-subtle: #626F86;
$text-subtle: #44546F;
$dynamic-button: transparent;
$dynamic-button-hovered: #A6C5E229;
$add-btn-bold-hovered: #0055CC;
$dynamic-button-pressed: #BFDBF847;
$dynamic-button-highlighted: #DFE1E6;
$dynamic-button-highlighted-text: #172B4D;
$dynamic-button-highlighted-hovered: #FFFFFF;
$background-success-bold: #1F845A;
$background-success-bold-hovered: #216E4E;
$background-danger: #FFEDEB;
$ds-text-danger: #AE2A19;
$ds-icon-danger: #E34935;
$ds-background-danger-hovered: #FFD2CC;
$ds-background-danger-bold: #CA3521;
$ds-background-danger-bold-hovered: #AE2A19;
$ds-background-warning-bold: #E2B203;
$ds-background-warning-bold-hovered: #CF9F02;
$ds-text-warning-inverse: #172B4D;
$label-text-accent-yellow-bolder:#533F04;
$ds-text-accent-green-bolder: #164B35;

// task : 
$task-shadow-raised: 0px 1px 1px #091E4240, 0px 0px 1px #091E424F;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;


//Margin
$PcmpGap: 18px;

